<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script defer type="module" src="src/js/script.js"></script>
        <title>m2-entrega-blog-m2</title>
    </head>
    <body>
        <main>
            <img src="src/assets/img/logo.svg" alt="logo">
            <div>
                <button class="button button--signIn">Cadastre-se</button><button class="button button--login">Login</button>
            </div>
        </main>
        <aside>
            <h1>Bem vindo ao Kenzie Academy Blog</h1>
        </aside>
    </body>
</html>