<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script defer type="module" src="src/js/script.js"></script>
        <title>m2-entrega-blog-m2</title>
    </head>
    <body>
        <div class="modal">
            <section class="modal__inner">
                <h2>Login</h2>
                <form action="./src/views/dashboard.html" id="login">
                    <input type="text" name="email">
                    <input type="text" name="password">
                    <button type="submit">Login</button>
                </form>
            </section>
            <button class="button button--close"></button>
        </div>
    </body>
</html>