body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--color-primary);
    padding: 10px;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main img {
    width: 4.375rem;
}

main div {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main .button {
    height: 3rem;
    font: var(--title-2);
}

aside {
    height: 50vh;
    display: flex;
    align-items: center;
    text-align: center;
}

form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form input {
    padding: 3px;
    max-width: 100%;
}