<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script defer type="module" src="../js/scripts/dashboard.js"></script>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dashboard.css">
        <title>Kenzie Blog</title>
    </head>
    <body>
        <header>
            <div class="user user--header">
                <figure class="user__figure user__figure">
                    <img src="#" alt="avatar" class="user__img user__img">
                </figure>
                <h3 class="user__name">Giuseppe</h3>
            </div>
            <button class="button button--logout">Logout</button>
        </header>
        <main>
            <section class="newPostContainer">
                <textarea name="newPost" id="newPost" placeholder="Como está se sentindo?"></textarea>
                <button type="submit" class="button button--add"></button>
            </section>
            <section class="postContainer">
                <section class="postContainer__post post">
                    <section class="post__user user">
                        <figure class="user__figure">
                            <img src="#" alt="avatar" class="user__img">
                        </figure>
                        <h3 class="user__name">Giuseppe</h3>
                    </section>
                    <textarea name="post" class="post__text" disabled>34</textarea>
                    <section class="post__info">
                        <details class="post__menu">
                            <summary></summary>
                            <button class="button button--edit"></button>
                            <button class="button button--delete"></button>
                        </details>
                        <span class="post__date">17/07/2002</span>
                    </section>
                </section>
            </section>
        </main>
    </body>
</html>